html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  
}

/* Header and menu styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button {
  font-weight: 500; 
  font-size: 16px;
  color: #e5f1f6;
  text-decoration: none;
}

header {
  display: flex;
  background-color: #272021;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10%;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  transition: background-color 0.5s ease;
  z-index: 1;
  overflow: visible;
}

.logo {
  cursor: pointer;
  height: 55px;
  width: auto;
  margin-top: 0;
  transition: 0.5s ease;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #736f73;
}

#contactbtn  {
  color: #e5f1f6;
  padding: 9px 25px;
  background-color: #736f73;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 16px;
}

#contactbtn:hover {
  color: #272021;
  background-color: #e5f1f6;
}
 /*main content */
 main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #272021;
  color: #e5f1f6;
  margin-top: 60px;
}

#page0,
#gallery {
  min-height: 100vh;
  background-color: #272021;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#gallery {
  display: block;
}


#about,
#service { 
  background-color: #736f73;
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.separator {
  border: 1px solid;
  margin: 20px 0;
  background-color: #736f73;
}

#contact {
  min-height: 100vh;
  background-color: #736f73;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrapper {
  background-image: url(img/work1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  width: 50%;
}


.page-container {
  background: transparent;
  box-sizing: border-box;
  width: 30%;
  text-align: justify;
  height: 100vh;
}

.title {
  font-size: 35px;
  line-height:200px;
  margin-bottom: 36 px;
  margin-top: 0;
  align-items: center;
}



#companylogo {
  padding-left: 30%;
  width: 325px;
  height: auto;
}
h3 {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 25px;
}

h2 {
    font-size: 50px;
    font-weight: 400;
    line-height:50px;
    margin-top: 20px;
    place-items: center;
    margin-bottom: 50px;
    
    
}


p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; 
  width: 700px;
  margin: 0 auto;
  text-align: justify;
}


.cards {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: 0.7s ease-in;
}


.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 35px;
    left: 35зч;
    margin: 0;
    opacity: 0;

}

.panel.active {
    flex:5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 720px) {
    .cards {
            width: 100vw;
    }

    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display: none;
    }
}

.to-top {
  background: #272021;
  color: #736f73;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:25px;
  color:#e5f1f6;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}



.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}



.descr a {
   cursor: pointer;
}

.descr a:hover {
  color: #272021;
}

.descr {
  line-height: 32px;
}


