* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-color: #272021;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #272021;
    padding: 15px; 
    transition: .2s;
}

.logo {
    height: 55px;
    width: auto;
    margin-left: 15px; 
}

.navlist {
    display: flex;
}

.navlist a {
    color: #e5f1f6;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover {
    border-bottom: 2px solid #272021;
}

#menu-icon {
    color: #e5f1f6;
    font-size: 30px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

.cta {
    color: #e5f1f6;
    padding: 9px 15px;
    background-color: #736f73;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
}

.mainpage {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.mainpage-text h3 {
    font-size: 20px;
    font-weight: 400;
    color: #e5f1f6;
    margin: 20px; 
    font-weight: bold;
}

.mainpage-text h1 {
    font-weight: bold;
    font-size: 90px;
    line-height: 1;
    color: #e5f1f6;
    margin: 0 0 45px;
    margin: 20px;
}

.mainpage-text p {
    color: #e5f1f6;
    font-size: 16px;
    line-height: 1.9;
    margin: 20px; 
}
    
.mainpage-img {
    width: 750px;
    height: auto;
}

@media (max-width: 990px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #736f73;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }

    .navlist a {
        display: block;
        margin-left: 0;
        margin: 7px 0;
    }

    .navlist.open {
        right: 0%;
    }
}

@media (max-width: 680px) {
    .mainpage-img img {
    width: 100%;
    height: auto;
}

}

main {
    display: flex;
    flex-direction: column;
    background-color: #272021;
    color: #e5f1f6;
    margin-top: 60px;
}

.gallery {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: grid;
}

.about,
.service {
    width: 100vw;
    background-color: #736f73;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.separator {
    border: 1px solid;
    margin: 20px 0;
    background-color: #736f73;
}

.contact {
    min-height: 100vh;
    background-color: #736f73;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.cards {
    display: flex;
    width: 100vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 35px;
    left: 35px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 720px) {
    .cards {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}

.to-top {
    background: #272021;
    color: #736f73;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #e5f1f6; 
  }
  .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
    transition: all .4s ease;
  }
  .descr a {
    cursor: pointer;
    color: #272021;
 }

 .descr a:hover {
   color: peachpuff;
 }
 .descr {
   line-height: 32px;
   text-align: justify;
   width: 700px;
 }

h2 {
    font-size: 50px;
    font-weight: 400;
    line-height:50px;
    margin-top: 20px;
    place-items: center;
    margin-bottom: 50px;
}
p {
    color: #e5f1f6;
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 40px;
    margin: 20px;
}


@media (max-width: 680px) {
    body {
        overflow-x: hidden; 
    }
}
